version: "3.9"

services:
  clarity-app:
    build:
      context: .
      dockerfile: deploy/Dockerfile

    container_name: clarity-app

    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]

    volumes:
      - .:/app
      - ./models:/models

    entrypoint: ["python", "main.py"]

    environment:
      PYTHONUNBUFFERED: "1"
      PYTHONDONTWRITEBYTECODE: "1"

    stdin_open: true
    tty: true